* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-size: 32px;
  color: salmon;
}

  .main-menu {
    background-color: brown;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    transition: .5s;
  
  }
  
  .main-menu-opened {
    left: 0;
  }

 .teste {
    font-size: 36
    px;
    background-color: aqua;
    position: fixed;
    top: 5px;
    left: 210px;
  }

  .move {
    top: 50px;
  }

